# Ignore Python bytecode files
/Lab1/exercise3/__pycache__/
/Lab1/exercise4/__pycache__/
/Lab2/exercise2/__pycache__/

# Ignore PDF files
/Lab3.pdf
/Lab4.pdf
/Lab1.pdf
/Lab2.pdf

# Ignore text files
/lab02.txt
/Lab3.txt
/Labs_repository.txt

# Ignore specific Python scripts
/point.py
/secp256k1.py

# Ignore Git configuration files
/.gitconfig
/.gitignore

# Ignore Microsoft Word files and their temporary lock files
/Lab 5- Computer Security- Trust and Digital Certificates.docx
/.~lock.Lab 5- Computer Security- Trust and Digital Certificates.docx#
/Lab 5- Computer Security- Trust and Digital Certificates.pdf
